.horizontal-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

.jumbo-light {
  border-radius: 0rem;
  margin: 0px;
}

.jumbo-dark {
  color: white; 
  background-color: #343a40;
  border-radius: 0rem;
  margin: 0px;
}

.pie-chart-container {
  position: relative;
  margin: auto;
  max-height: 400px;
  max-width: 400px;
}